 body{
    font-family: 'Montserrat', sans-serif;

}
.logo{
    width: 150px;
    height: 150px;
}
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    width: 800px;
}
.cta{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
    transition: all 0.3s ease;
}
button:hover{
    padding: 5px 20px;
    background-color: rgba(0,136,169, 1,);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button{
    background-color: #0088a9;
    border: none;
    padding: 5px;
    border-radius: 25px;
} 
 #profile img{
    height: 305px;
    width: 270px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h1{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
}
.cards{
    margin:0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
}
.card{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.image{
    width: 100%;
    display: block;
}
.card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
}

.card-content p{
    text-align: left;
    width: auto;
}
.card-content >p:first-of-type{
    margin-top: 0;
    position: relative;
    margin-left: 0%;
    color: none;
}
.card-content >h3{
    background-color:
}
.wrapper{
    position: absolute;
    transform: translateY(-5%);
    width: 100%; 
    padding: 0 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0, 0.8,);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0, 0.13,);
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,.msg{
    width: 48%;
}
.input-fields .input, .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    padding: 10px;
    color: #000000;
    width: 100%;
}
.msg textarea{
    height: 212px;
    padding-left: 15px;
}
::-webkit-input-placeholder{
    color: #000000;
}
::-moz-input-placeholder{
    color: #000000;
}
::-ms-input-placeholder{
    color: #000000;
}
.button{
    background: #000000;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}
footer{
    display: flex;
    flex-direction: column;
    bottom: 0;
}
 .footer{
    background-color: #c4c4c4;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px 15px;
}
h4{
    color: #ffffff;

} 
.footer-right{
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
